<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoinX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A7FC5351C1FF5FE00224CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A7FC54D1C1FF5FE00224CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A7FC5581C1FF5FE00224CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
